<% if flash.has?(:message) %>
  <div class="flashmessage">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= flash[:message] %>
  </div>
<% end %>

<h2>Username: <%= @user.username %><% if @user.id == current_user.id %> (you)<% end %></h2>
<p>Email: <%= @user.email %></p>
<p>Phone: <%= @user.phone %></p>
<p>Location: <%= @user.location %></p>

<% if @user.id == current_user.id %>
  <a class = "button" href="/users/<%= @user.id %>/edit">edit <%= @user.username %></a><br><br>
  <h3>My items:</h3>
  <% if current_user.items.empty? %>
    <p>No items yet.</p>
  <% else %>
    <p>Items with orange dot are available (in your possession);
    <br>Borrowed items are followed by link to current borrower</p>
    <% Item.all.select{|i| i.user_id == current_user.id}.each do |i| %>
      <p><span<%= ' style="color: #f60"' if i.user_id == i.borrower_id %>> • </span><a href="/items/<%= i.id %>"><%= i.title %></a>
      <% if i.user_id != i.borrower_id %>
      <% borrower = User.find(i.borrower_id) %>
        <span style="font-size: small;"><a href="/users/<%= borrower.id %>">(<%= borrower.username %>)</a></span><% end %>
      </p>
    <% end %>
  <% end %>
<a class = "button" href="/items/new">add item</a>
<% end %>