<h2>Username: <%= @user.username %><% if @user.id == current_user.id %> (you)<% end %></h2>
<p>Email: <%= @user.email %></p>
<p>Phone: <%= @user.phone %></p>
<p>Location: <%= @user.location %></p>

<% if @user.id == current_user.id %>
  <a class = "button" href="/users/<%= @user.id %>/edit">edit <%= @user.username %></a><br><br>
  <h3>My items:</h3>
  <p>Items with orange dot are currently available (in your possession)</p>
  <% Item.all.select{|i| i.user_id == current_user.id}.each do |i| %>
    <p><span<%= ' style="color: #f60"' if i.user_id == i.borrower_id %>> • </span><a href="/items/<%= i.id %>"><%= i.title %></a></p>
    <% end %>
<a class = "button" href="/items/new">add item</a>
<% end %>